{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% include 'pages/base_headers.html' %}
    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <div id="root">not rendered</div>
    
    <script src="{% static 'js/app.js' %}"></script>
    <script>
      const App = () => {
  return React.createElement(
  "div",
  {},
  React.createElement("h1", {}, "Rendered")
  );
};

ReactDOM.render(
  React.createElement(App),
  document.getElementById("root")
);
    </script>


  </body>
</html>